.image-upload-container {
    background: #f8f8f8;
    border: 1px solid #ccc;
    padding: 1%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
  }
  
  .image-drop-container {
    border: 4px dashed #3498db;
    border-radius: 20px;
    padding: 2%;
    width: 70vw;
    max-width: 500px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .image-input-preview-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-input-container {
    margin: 2% 0;
  }
  
  .fileSelectInput {
    display: none;
  }
  
  
  .file-select-label {
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  
  .file-select-label:hover {
    background-color: #217dbb;
  }
  
 
  .file-input-container {
    display: flex;
    align-items: center;
  }
  
  
  .display-message-container {
    margin: 2% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .error-message, .success-message {
    margin: 1% 0;
    width: 100%;
    text-align: center;
    color: #d63031; 
  }
  
  .success-message {
    color: #2ecc71; 
  }
  
  
  .image-upload-button-container {
    border: 2px solid #ccc;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .image-upload-button-container button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  
  .image-upload-button-container button:hover {
    background-color: #217dbb;
  }
  
  @media only screen and (max-width: 600px) {
    .image-drop-container {
      width: 90vw;
      height: 40vh;
    }
  }

.image-input-preview-container {
    width: 100%;
    height: 50vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    border-radius: 10px;
  }
  
  .imagePreview {
    max-width: 100%;
    max-height: 100%; 
    border-radius: 10px; 
  }
  
  
  