<div class="image-upload-container">
  <div class="image-drop-container">
    <div class="image-input-container">
      <input type="file" (change)="onFileSelected($event)" />
    </div>

    <div class="image-input-preview-container">
      <img
        *ngIf="imagePreview"
        [src]="imagePreview"
        alt="Image Preview"
        class="imagePreview"
      />
    </div>
  </div>

  <div class="display-message-container">
    <div class="error-message">
      <p *ngIf="failedToUploadImage">{{ errorMessage }}</p>
    </div>

    <div class="success-message">
      <p *ngIf="successfullyUploaded">{{ successMessage }}</p>
    </div>
  </div>

  <div class="image-upload-button-container">
    <button (click)="uploadToLocal()">Upload to local</button>
    <button (click)="uploadToS3()">Upload to Cloud</button>
  </div>
</div>
